<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gone With Me</title>
  <style>
    @font-face {font-family: ArcadeClassic; src:url('ARCADECLASSIC.TTF');}
    body {
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    #github {
      position: absolute;
      bottom: 16px;
      right: 16px;
      font-family: ArcadeClassic;
      font-size: 170%;
      color: white;
    }
    h1 {
      text-align: center;
      font-family: ArcadeClassic;
      color: white;
      font-size: 300%;
    }
  </style>
</head>
  <script src="pixi/pixi.min.js"></script>
<body>
  {{{body}}}
  <a href="htttps://github.com/" id = github>Support Me on Github</a>
</body>
</html>
