<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fly With Me</title>
  <style>
    @font-face {font-family: PIXELFONT; src:url('DisposableDroidBB.ttf');}

    body {
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    #github {
      position: absolute;
      bottom: 16px;
      right: 16px;
      font-family: PIXELFONT;
      font-size: 170%;
      color: white;
    }
    .info {
      margin: auto;
      font-family: PIXELFONT;
      color: white;
      font-size: 400%;
    }

    #start {
      margin-top: 40vh;
      margin-left: 0;
      margin-right: 0;
    }

    #fly{
      text-align: center;
      font-family: PIXELFONT;
      color: white;
      font-size: 400%;
    }

    .button {
      background: #000000;
      color: white;
      margin-left: 43vw;
      padding: 15px 32px;
      font-family: PIXELFONT;
      font-size: 150%;
      cursor: pointer;
    }

  </style>
</head>
  <script src="pixi/pixi.min.js"></script>
<body>
  {{{body}}}
  <a href="https://github.com/FlatMcEarth/fly_with_me" id = github>Find Me on Github</a>
</body>
</html>
