<div id = start>
    <h1 id = 'fly'>Journey Over</h1>
    <button id="start-button" class="button">START AGAIN</button>
    <script>
    x = document.getElementById("start-button");
    x.addEventListener("click", function(){
        window.location.assign("game");
    });
    x.addEventListener("touchstart", function(){
        window.location.assign("game");
    });
    </script>
</div>

