<div id="rankings">
{{#each ranking}}
<h2 class= "rank">No.{{ranking}} {{name}} {{time}}s</h2>
{{/each}}
<button id="start-button" class="button">BACK</button>
    <script>
    x = document.getElementById("start-button");
    x.addEventListener("click", function(){
        window.location.assign("game");
    });
    </script>
</div>