<script>
    function load(){
        var url = window.location.href+"game";
        window.location.assign(url);
    }
</script>
<div id = start>
    <h1 id = 'fly'>Fly With Me</h1>
    <button onclick="load()" class="button">START</button>
</div>

